{% extends 'base.html.twig' %}

{% block title %}All News{% endblock %}

{% block body %}
    {% for newsItem in newsItems %}
        <section class="news-item">
            <h1>
                <a href="{{ path('viewNewsItem', { 'urlName': newsItem.urlName }) }}">
                    {{ newsItem.title }}
                </a>
            </h1>
            <p>{{ newsItem.preview }}</p>
        </section>
    {% endfor %}

    <nav class="pagination">
        {% for page in 1..pageCount %}
            <a href="{{ path('newsList', { 'page': page }) }}">{{ page }}</a>
        {% endfor %}
    </nav>
{% endblock %}
